PORT=5000
NODE_ENV=development
API_KEYS=kunci_rahasia_sangat_panjang_sekali_12345
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4321
CLUSTER_ENABLED=false
WORKERS=4
MAX_JSON_SIZE=100kb
TRUST_PROXY=1
LOG_LEVEL=debug
LOG_PRETTY=true
PLAYGROUND_ENABLED=true
